# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OER\Lab3Genetsko\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
